{% load static %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="{% static 'academic/assets/img/apple-icon.png' %}"
    />
    <link
      rel="icon"
      type="image/png"
      href="{% static 'academic/assets/img/favicon.png' %}"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
      Student Portal | KCCEMSR
    </title>
    <meta
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
      name="viewport"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"
    />
    <link
      href="{% static 'academic/assets/css/material-dashboard.css' %}"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="wrapper">
      {% include 'siderbar.html' %}
      <div class="main-panel">
        <nav
          class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top"
        >
          <div class="container-fluid">
            <div class="navbar-wrapper">
              <a class="navbar-brand" href="javascript:;">Dashboard</a>
            </div>
            <button
              class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              aria-controls="navigation-index"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="sr-only">Toggle navigation</span>
              <span class="navbar-toggler-icon icon-bar"></span>
              <span class="navbar-toggler-icon icon-bar"></span>
              <span class="navbar-toggler-icon icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end">
              <form class="navbar-form"></form>
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'academic:dashboard' %}">
                    <i class="material-icons">dashboard</i>
                    <p class="d-lg-none d-md-block">
                      Stats
                    </p>
                  </a>
                </li>

                <li class="nav-item dropdown">
                  <a
                    class="nav-link"
                    href="javascript:;"
                    id="navbarDropdownProfile"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <i class="material-icons">person</i>
                    <p class="d-lg-none d-md-block">
                      Account
                    </p>
                  </a>
                  <div
                    class="dropdown-menu dropdown-menu-right"
                    aria-labelledby="navbarDropdownProfile"
                  >
                    <a class="dropdown-item" href="{% url 'accounts:profiledetail' %}">Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Log out</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </nav>

        {% block content %} {% endblock %}
      </div>
    </div>
    {% include 'footer.html' %}
  </body>

  <!--   Core JS Files   -->
  <script src="{% static 'academic/assets/js/core/jquery.min.js' %}"></script>
  <script src="{% static 'academic/assets/js/core/popper.min.js' %}"></script>
  <script src="{% static 'academic/assets/js/core/bootstrap-material-design.min.js' %}"></script>
  <script src="{% static 'academic/assets/js/plugins/perfect-scrollbar.jquery.min.js' %}"></script>
  <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js %}"></script>
  <!--  Notifications Plugin    -->
  <script src="{% static 'academic/assets/js/plugins/bootstrap-notify.js' %}"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script
    src="{% static 'academic/assets/js/material-dashboard.js' %}"
    type="text/javascript"
  ></script>

  <script>
    $(document).ready(function () {
      $().ready(function () {
        $sidebar = $(".sidebar");

        $sidebar_img_container = $sidebar.find(".sidebar-background");

        $full_page = $(".full-page");

        $sidebar_responsive = $("body > .navbar-collapse");

        window_width = $(window).width();

        fixed_plugin_open = $(
          ".sidebar .sidebar-wrapper .nav li.active a p"
        ).html();

        if (window_width > 767 && fixed_plugin_open == "Dashboard") {
          if ($(".fixed-plugin .dropdown").hasClass("show-dropdown")) {
            $(".fixed-plugin .dropdown").addClass("open");
          }
        }

        $(".switch-sidebar-mini input").change(function () {
          $body = $("body");

          $input = $(this);

          if (md.misc.sidebar_mini_active == true) {
            $("body").removeClass("sidebar-mini");
            md.misc.sidebar_mini_active = false;

            $(".sidebar .sidebar-wrapper, .main-panel").perfectScrollbar();
          } else {
            $(".sidebar .sidebar-wrapper, .main-panel").perfectScrollbar(
              "destroy"
            );

            setTimeout(function () {
              $("body").addClass("sidebar-mini");

              md.misc.sidebar_mini_active = true;
            }, 300);
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function () {
            window.dispatchEvent(new Event("resize"));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function () {
            clearInterval(simulateWindowResize);
          }, 1000);
        });
      });
    });
  </script>
  <script>
    $(document).ready(function () {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();
    });
  </script>
</html>
