{% extends 'base.html' %}
{% block content %}
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Notices</h4>
            <p class="card-category">
              All the issued notices would be visible here
            </p>
          </div>
          <div class="card-body">
            <div
              class="table-responsive p-4"
              style="font-size: initial;"
            >
              <table class="table">
                <thead class="text-primary">
                  <th>
                    #
                  </th>
                  <th>
                    Title
                  </th>
                  <th>
                    Display From
                  </th>

                  <th>
                    Actions
                  </th>
                </thead>
                <tbody>
                  <tr>
                    {% for notice in noticelist %}
                    <td>
                      {{ forloop.counter }}
                    </td>
                    <td class="text-primary">
                     {{notice.title}}
                    </td>
                    <td>
                      {{notice.added_at}}
                     
                    </td>

                    <td>
                      <a
                        href="{% url 'notice:noticedetail' notice.slug %}"
                        class="btn btn-primary btn-sm"
                        >View</a
                      >
                    </td>
                  </tr>
                    {% endfor %}
                  
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
